body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.results-content {
  height: 90vh;
  width: 100vw;
  background-color: #303030;
  padding: 20px;
}

.heading {
  background-color: transparent;
  color: white;
  font-size: 30px;
}

.family-image {
  display: flex;
  margin: 0 auto;
  max-width: 750px;
  height: auto;
  margin-left: 40%;
  margin-top: 8%;
}

.both {
  gap: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.line-image {
  margin-top: 20px;
}
